<!DOCTYPE html>
<html lang="en">
<head>
  <title>O aplikaciji</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">eTrudnica</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Pocetna</a></li>
      <li><a href="#">Korisnicki podaci</a></li>
      <li><a href="#">Bolnicki podaci</a></li>
      <li><a href="#">Kalendar</a></li>
    </ul>
  </div>
</nav>
  
<div class="container">
  <h3>eTrudnica</h3>
  <p>Aplikacija je izrađena za potrebe kolegija Teorija baza podataka.</p>
  <p>Implementirana je aktivna baza podataka s komponentama temporalnih baza. Prilkom rada je korištena
lokalna baza podataka izrađena u Postgres-u, dok je sam programski kod izrađen u Python-u gdje je korišten Flask.</p>
</div>

</body>
</html>
