  <body>
    {% extends "template.html" %}
    {% block content %}
    <p> Aplikacija namijenjena trudnicama i onima koji to žele tek postati</p>
    <p> </p>
     {% for korisnica in korisnice %}
        <form method="POST" action="./updateKorisnica">
        <input type="hidden" value="{{korisnica.OIB}}" name="oldOIB">
        <input type="text" value="{{korisnica.OIB}}" name="newOIB">
        <input type="hidden" value="{{korisnica.ime}}" name="oldime">
        <input type="text" value="{{korisnica.ime}}" name="newime">
        <input type="hidden" value="{{korisnica.prezime}}" name="oldprezime">
        <input type="text" value="{{korisnica.prezime}}" name="newprezime">
        <input type="hidden" value="{{korisnica.adresa}}" name="oldadresa">
        <input type="text" value="{{korisnica.adresa}}" name="newadresa">
        <input type="hidden" value="{{korisnica.email}}" name="oldmail">
        <input type="text" value="{{korisnica.email}}" name="newmail">
        <input type="hidden" value="{{korisnica.tel}}" name="oldtel">
        <input type="text" value="{{korisnica.telefon}}" name="newtel">
        <input type="hidden" value="{{korisnica.datum_rodjenja}}" name="olddatum_rodjenja">
        <input type="text" value="{{korisnica.datum_rodjenja}}" name="newdatum_rodjenja">
        <input type="submit" value="Ažuriraj">
      </form>
     {% endfor %}
    <form method="POST" action="./addKorisnica">
        <input type="text" name="OIB">  
        <input type="text" name="ime">
        <input type="text" name="prezime">
        <input type="text" name="adresa">
        <input type="text" name="email">
        <input type="text" name="telefon">
        <input type="text" name="datum_rodjenja">  
    <input type="submit" value="Dodaj">
    </form>
     <p><a href="{{ url_for('pregledPodsjetnika') }}">Podsjetnici</a></p>   
  <p><a href="{{ url_for('modifyBolnickiPodaci') }}">Bolnički podaci</a></p>    

     
  <h3>Trudnoce (<a href = "{{ url_for('modifyTrudnoca') }}">Dodaj podatke</a>)</h3>
         {% for trudnoca in trudnoce %}
         <p>{{ trudnoca.opis }}</p>
         {% endfor %}  
         
  <h3>Novorodencad (<a href="{{ url_for('modifyNovorodence') }}">Dodaj podatke</a>)</h3>
 {% for novorodence in novorodencad %}
 <p>{{ novorodence.ime }}</p>
 {% endfor %}         
    
   {% endblock %}
 
  </body>
</html>