  <body>
    
    {% extends "template.html" %}
    {% block content %}
    <p>Hello </p>
     {% for novorodence in novorodencad %}
            <form method="POST" action="./updateNovorodence">
            <input type="hidden" value="{{novorodence.id_novorodence}}" name="oldid_novorodence">
            <input type="text" value="{{novorodence.id_novorodence}}" name="newid_novorodence">
            <input type="hidden" value="{{novorodence.id_trudnoce}}" name="oldid_trudnoce">
            <input type="text" value="{{novorodence.id_trudnoce}}" name="newid_trudnoce">
            <input type="hidden" value="{{novorodence.ime}}" name="oldime">
            <input type="text" value="{{novorodence.ime}}" name="newime">
            <input type="hidden" value="{{novorodence.spol}}" name="oldspol">
            <input type="text" value="{{novorodence.spol}}" name="newspol">
            <input type="hidden" value="{{novorodence.tezina}}" name="newtezina">
            <input type="text" value="{{novorodence.tezina}}" name="oldtezina">
            <input type="submit" value="Ažuriraj">
          </form>
         {% endfor %}
     <form method="POST" action="./modifyNovorodence">
        <input type="text" name="id_novorodence" >  
        <input type="text" name="id_trudnoce" >
        <input type="text" name="ime" >
        <input type="text" name="spol">
        <input type="text" name="tezina">
    <input type="submit" value="Dodaj">
         
         </form> {% endblock %}
  </body>
</html>